.folder-container {
    order: 1;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#folder-creator {
    justify-content: flex-end;
}

@media screen and (min-width: 720px){
    .folder-container {
        width: 33%;
        order: 2;
    }
}