.folder-container {
    order: 1;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#folder-creator {
    justify-content: flex-end;
}

@media screen and (min-width: 600px){
    .folder-container {
        width: 50%;
        order: 2;
    }
}


@media screen and (min-width: 900px){
    .folder-container {
        width: 33.33%;
    }
}

@media screen and (min-width: 1200px){
    .folder-container {
        width: 25%;
    }
}

@media screen and (min-width: 1500px){
    .folder-container {
        width: 20%;
    }
}