.album-container {
    order: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

@media screen and (min-width: 600px){
    .album-container {
        width: 50%;
        order: 1;
        flex-grow: 1;
    }
}

@media screen and (min-width: 900px){
    .album-container {
        flex-grow: 2;
    }
}

@media screen and (min-width: 1200px){
    .album-container {
        flex-grow: 3;
    }
}

@media screen and (min-width: 1500px){
    .album-container {
        flex-grow: 4;
    }
}