.App {
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #333;
    color: #eee;
    font-family: Helvetica, Arial;
    font-size: 3vmin;
}

/** Buttons **/
.btn {
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border-radius: 2em;
    border: 0.2em solid #1ecd97;
    color: #1ecd97;
    cursor: pointer;
    font-size: 3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
    margin: 1% auto;
}

.btn:hover {
    background: #1ecd97;
    color: #333;
}

/** Background **/

.background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(8em) opacity(0.6);
    position: absolute;
}

.main-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    width: 80%;
    z-index: 1;
}

.container-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.main-container {
    flex: 1;
}