.album {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.album-name, .album-artist {
    width: 100%;
    text-align: center;
}

img {
    outline: 0;
    max-width: 100%;
    height: auto;
}

.folder-selection {
    max-width: 250px;
}