header {
    margin: 25px 0 25px 0;
    display: flex;
    text-align: left;
    width: 100%;
    order: 0;
}

.header-btn {
    padding: 5px;
}

.download-btn {
    float: right;
}

.remove-btn {
    margin-left: auto;
}

.max-width {
    width: 100%;
}