.folder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

.folder-name {
    max-width: 250px;
    word-break: break-word;
    align-self: center;
}

.foldered-album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden{
    visibility: hidden;
    height: 0;
}

img {
    outline: 0;
    max-width: 100%;
    height: auto;
}