.folder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.folder-name{
    text-align: left;
}

.foldered-album-container {
    display: flex;
}

.hidden{
    visibility: hidden;
}

img {
    outline: 0;
    max-width: 100%;
    height: auto;
}