#footer {
    order: 100;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

.link {
    font-size: 64px;
    margin: 0 5px;
}

.link:hover {
    cursor: pointer;
}

#footer a:visited {
    color: #FFF;
}